<div class="ng-simple-autocomplete">
<div>
  <input class="input-border" type="text" *ngIf="!multiSelect" #inputBox [placeholder]="placeholder"
  [(ngModel)]="searchText"
  (focus)="toggleDropdown('focus')"
  (keyup)="selectItemByKeyboard($event.keyCode)"
  (input)="onInputChange($event.target.value)"
  (blur)="toggleDropdown('blur')"
  (focusout)="showError()"
  > 
  <ion-icon name={{iconName}} float-right *ngIf="(requiredIcon && !multiSelect && searchText == undefined) || (requiredIcon && !multiSelect && searchText == '')"></ion-icon>  
</div>
  <div *ngIf="(searchText == '' && requiredField) || (searchText == undefined && requiredField && error)" style="color:red">Required Field</div>
  <div *ngIf="multiSelect" class="multiSelectMain" (click)="focusInput()">
    <span style="position: relative">
      <span style="display: inline-block" *ngFor="let item of mutliSelectedArray; let i=index" class="multiSeletedItem">
        {{ fieldNameFormatter(item) }}
        <span class="auto-complete-icon" (click)="removeFromSeletedArray(i)"></span>
      </span>
    </span>
    <span>
      <input type="text" #inputBox [placeholder]="placeholder"
        [(ngModel)]="searchText"
        (focus)="toggleDropdown('focus')"
        (keyup)="selectItemByKeyboard($event.keyCode)"
        (input)="onInputChange($event.target.value)"
        (blur)="toggleDropdown('blur')">
      </span>
      <ion-icon name={{iconName}} float-right *ngIf="(requiredIcon && mutliSelectedArray == undefined) || (requiredIcon && mutliSelectedArray && mutliSelectedArray.length == 0) "></ion-icon>  
  </div>

  <ul *ngIf="showDropDown" #itemList [ngStyle]="{ 'color': dropDownColor ? dropDownColor : 'black' , 'background-color': dropDownbackgroundColor ? dropDownbackgroundColor : 'white' }">
    <li *ngFor="let item of sourceArray | filter : searchText; let i=index;" 
    (mousedown)="selectValue(item)"
    (mouseover)="updateSelectedItemIndex(i,item)"
    [ngClass]="{'active-item': i==selectedItemIndex}"
    [ngStyle]="{ 'color': dropDownColor ? dropDownColor : 'black' }"
    >
      {{ fieldNameFormatter(item) }} 
    </li>
  </ul>
</div>
